# Dependencies
node_modules/

# Build output
dist/
out/
build/
src/

# TypeScript specific
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (Sensitive!)
.env
.env.local

# Operating System files
.DS_Store
Thumbs.db

# Ignore the configuration files
package.json
package-lock.json
tsconfig.json

# Ignore local editor settings
.vscode/
.idea/